<?xml version="1.0"?>
<config>
    <modules>
        <Greyfenix_WishlistShare>
            <version>1.0.0</version>
        </Greyfenix_WishlistShare>
    </modules>
    <global>
        <models>
            <greyfenix_wishlistshare>
                <class>Greyfenix_WishlistShare_Model</class>
            </greyfenix_wishlistshare>
        </models>
        <events>
            <controller_action_predispatch_wishlist_shared_allcart>
                <observers>
                    <greyfenix_wishlistshare_allcart_observer>
                        <type>singleton</type>
                        <class>greyfenix_wishlistshare/observer</class>
                        <method>addAllCartEmail</method>
                    </greyfenix_wishlistshare_allcart_observer>
                </observers>
            </controller_action_predispatch_wishlist_shared_allcart>
        </events>
    </global>
</config>